.ourexperties h2{
    margin: 40px 0 40px;
    color: #28323c;
    font-size: 35px;
    line-height: 35px;
    font-weight: 300;
    text-align: center;
}
h6 .righterrow{
    float: right;
    color: #02ad3b;
}
.zoom {
    transition: transform 1s;
    margin: 0 auto;
     }
.zoom:hover {
        -ms-transform: scale(1.03   ); /* IE 9 */
        -webkit-transform: scale(1.03   ); /* Safari 3-8 */
        transform: scale(1.03   ); 
          }
         