.Contact{
    width: 100%;
    background: #349aee;
    display: inline-block;
    color: white;
}

.Contact ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 50px;
}
.ContactImg{
padding: 40px 0px;
display: inline-block;
}
.content{
padding: 0px 20px;
border-left: 1px solid white ;
}