.OurWork h2 {
    margin: 30px 0 40px;
    color: #28323c;
    font-size: 35px;
    line-height: 35px;
    font-weight: 300;
    text-align: center;
}

.zoom {
    transition: transform 1s;
    margin: 0 auto;
    border-radius: 0;
    display: block;
    width: 100%;
    height: auto;
}

.zoom:hover{
    -ms-transform: scale(1.03);
    /* IE 9 */
    -webkit-transform: scale(1.03);
    /* Safari 3-8 */
    transform: scale(1.03);
   }

.CardImg {
    overflow: hidden;
    max-height: 286px;
    max-width: 286px;
    height: 100%;
    border: none;
    position: relative;
    }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    top: 5;
    z-index: 8;
    display: block;
    color: #fff;
    transition: .5s ease;
    background-color: #00000038; 
}

.CardImg:hover .overlay {
    opacity: 100%;
   
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}