.Technologies{
    background-color:#f6f5f5
}
.Technologies h2 {
    margin: 30px 0 40px;
    color: #595858;
    font-size: 35px;
    line-height: 35px;
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
}
.TechnologiesIcon {
    width: 100%;
    float: left;
    padding: 30px 0 0 0;
}    
.Technologies ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0px;
}